<configuration>

    <appender name="Application" class="ch.qos.logback.core.FileAppender">
        <file>application.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Datastore" class="ch.qos.logback.core.FileAppender">
        <file>datastore.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Producer" class="ch.qos.logback.core.FileAppender">
        <file>workItemProducer.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Consumer" class="ch.qos.logback.core.FileAppender">
        <file>workItemConsumer.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Reports" class="ch.qos.logback.core.FileAppender">
        <file>reports.log</file>
        <encoder>
            <pattern>%date %level [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="dev.alexhstone.producer" level="info" additivity="false">
        <appender-ref ref="Producer"/>
    </logger>

    <logger name="dev.alexhstone.consumer" level="info" additivity="false">
        <appender-ref ref="Consumer"/>
    </logger>

    <logger name="dev.alexhstone.reports" level="info" additivity="false">
        <appender-ref ref="Reports"/>
    </logger>

    <logger name="dev.alexhstone.datastore" level="info" additivity="false">
        <appender-ref ref="Datastore"/>
    </logger>

    <logger name="dev.alexhstone" level="info" additivity="false">
        <appender-ref ref="Application"/>
    </logger>

    <root level="info">
        <appender-ref ref="Application"/>
    </root>

</configuration>
